version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Passw0rd123"
      ACCEPT_EULA: "Y"
    volumes:
      - sqlserver-data:/var/opt/mssql
    networks:
      - clinivia-network

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080" 
    networks:
      - clinivia-network  

  webapi:
    image: sipacademy2024/clinivia_backend:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    ports:
      - "8085:8080" 
    depends_on:
      - sqlserver
    networks:
      - clinivia-network

  frontend:
    image: sipacademy2024/clinivia_frontend:latest
    ports:
      - "90:80" 
    depends_on:
      - webapi
    networks:
      - clinivia-network

networks:
  clinivia-network:

volumes:
  sqlserver-data:

